		body{
			font-family: monospace;
			margin: 0px;
			background-color: #ececec;
		}
		h1{
			top: 0;
			font-size: 1.25em;
			position: fixed;		
			padding: 10px;
			margin-top: 0px;
			width: 100%;
			background-color: white;
			font-weight: normal;
			text-shadow: 0px 0px 1px #A1A1A1;
			box-shadow: 0px 0px 18px #000000;
		}
		.main{
			margin-top: 5.5em;
		}
		.content{
			background-color: white;
			width: 40%;
			height: 30em;
			overflow: auto;
			float: left;
			border-radius: 2px;
			margin: 0em 2em 2em 4em;
			padding-bottom: 0px;
			box-shadow: 0px 0px 1px #000000;
		}
		.section{
			font-size: 1.4em;
			color: #6b00ff;
			background-color: #03A9F4;
			padding: 1em 0em .7em .7em;
		}
		h2{
			font-weight: normal;
		}
		li{
			font-size: 1.15em;
		}
		@media screen and (max-width: 880px){
			.content{
				min-height: 30em;
				margin: 0px 1em 3em 6%;
			}
		}
		@media screen and (max-width: 600px){
			.content{
				width: 95%;
				height: 30em;
				margin: 0px 1em 3em .7em;
			}
		}
		a{
			color: blue;
			font-size: 1.5em;
			box-shadow: 0px 0px 1px black;
			padding: 1px 2em 1px 2em;
			margin-left: 1em;
			background-color: white;
		}
		a:hover{
			background-color: #4d4ddf;
		}
		ol{
			color: #1c2e9e;
			margin-left: 1.5em;
		}
		h3{
			color: #1c2e9e;
			margin-left: 1em;
			font-size: 1.2em;
		}